@page "/imoveis"
@using RealtyHub.Core.Models
@inherits ListPropertiesPage

<MudText Typo="Typo.h3">Imóveis</MudText>

<PageTitle>Imóveis</PageTitle>

<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Material.Filled.AddHome"
               Href="/imoveis/adicionar">
        Novo Imóvel
    </MudButton>
</div>

<MudDataGrid T="Property"
             Class="mt-4"
             ServerData="LoadServerData"
             @ref="DataGrid"
             Filterable="true"
             Hideable="true"
             RowsPerPage="@Core.Configuration.DefaultPageSize" 
             RowClick="@(e => SelectProperty(e.Item))" 
             RowStyle="@RowStyle">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Imóveis</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="SearchTerm"
                      Placeholder="Filtrar por Título, Descrição e Endereço"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Clearable="true"
                      OnClearButtonClick="@(() => @SearchTerm = "" )"
                      Immediate="true"
                      IconSize="Size.Medium"
                      Class="mt-0">
        </MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Title" Title="Título" />
        <PropertyColumn Property="x => x.Description" Title="Descrição" />
        <TemplateColumn Title="Imóvel Novo">
            <CellTemplate>
                @if (context.Item.IsNew)
                {
                    <span>Sim</span>
                }
                else
                {
                    <span>Não</span>
                }
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.PropertyType" Title="Tipo" />
        <TemplateColumn Class="justify-end" Title="Ações">
            <CellTemplate>
                <MudStack Row>
                    <MudTooltip Text="Editar">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                       Href="@($"/imoveis/editar/{context.Item.Id}")"
                                       Color="Color.Primary">
                        </MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="Excluir">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                       Color="Color.Error"
                                       aria-label="Excluir"
                                       OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Title)">
                        </MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="Agendar Visita">
                        <MudIconButton Icon="@Icons.Material.Filled.ScheduleSend" 
                                       Color="Color.Primary" 
                                       OnClick="() => OnScheduleButtonClickedAsync(context.Item)">
                        </MudIconButton>
                    </MudTooltip>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Property" />
    </PagerContent>
</MudDataGrid>