@page "/imoveis"
@using RealtyHub.Core.Extensions
@using RealtyHub.Core.Models
@inherits ListPropertiesPage

<MudText Typo="Typo.h3">Imóveis</MudText>

<PageTitle>Imóveis</PageTitle>

<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Material.Filled.AddHome"
               Href="/imoveis/adicionar">
        Novo Imóvel
    </MudButton>
</div>

<MudDataGrid T="Property"
             Class="mt-4"
             ServerData="LoadServerData"
             @ref="DataGrid"
             RowsPerPage="@Core.Configuration.DefaultPageSize"
             RowClick="@(e => SelectProperty(e.Item))"
             RowStyle="@RowStyle">

    <ToolBarContent>
        <MudText Typo="Typo.h6">Imóveis</MudText>
        <MudSpacer />
        <MudSelect T="string"
                   Label="Selecione o Filtro"
                   Value="SelectedFilter"
                   ValueChanged="OnValueFilterChanged"
                   Class="me-2">
            @foreach (var option in FilterOptions)
            {
                <MudSelectItem Value="@option.PropertyName">@option.DisplayName</MudSelectItem>
            }
        </MudSelect>
        <MudTextField @bind-Value="SearchTerm"
                      Placeholder="Filtrar..."
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Clearable="true"
                      OnClearButtonClick="OnClearSearchClick"
                      IconSize="Size.Medium"
                      Class="me-2">
        </MudTextField>
        <MudButton StartIcon="@Icons.Material.Filled.Search"
                   OnClick="OnButtonSearchClick"
                   ButtonType="ButtonType.Button"
                   Color="Color.Primary"
                   Variant="Variant.Filled">
            Pesquisar
        </MudButton>
    </ToolBarContent>
    <Columns>
        <TemplateColumn Title="Foto principal">
            <CellTemplate>
                <MudImage Src="@GetSrcThumbnailPhoto(context.Item)"
                          Width="300"
                          Height="300"
                          ObjectFit="ObjectFit.Cover" />
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.Title" Title="Título" />
        <PropertyColumn Property="x => x.Bedroom" Title="Quartos" />
        <PropertyColumn Property="x => x.Bathroom" Title="Banheiros" />
        <PropertyColumn Property="x => x.Garage" Title="Garagens" />
        <PropertyColumn Property="x => x.Area" Title="Área" />
        <TemplateColumn Title="Preço">
            <CellTemplate>
                @context.Item.Price.ToString("C")
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="Tipo">
            <CellTemplate>
                @context.Item.PropertyType.GetDisplayName()
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Class="justify-end" Title="Ações">
            <CellTemplate>
                <MudStack Row>
                    <MudTooltip Text="Editar">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                       Href="@($"/imoveis/editar/{context.Item.Id}")"
                                       Color="Color.Primary">
                        </MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="Excluir">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                       Color="Color.Error"
                                       aria-label="Excluir"
                                       OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Title)">
                        </MudIconButton>
                    </MudTooltip>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Property" />
    </PagerContent>
</MudDataGrid>