@page "/clientes"
@using RealtyHub.Core.Models
@inherits ListCustomersPage

<MudText Typo="Typo.h3">Clientes</MudText>

<PageTitle>Clientes</PageTitle>

<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Material.Filled.PersonAdd"
               Href="/clientes/adicionar">
        Novo Cliente
    </MudButton>
</div>

<MudDataGrid T="Customer"
             Class="mt-4"
             ServerData="LoadServerData"
             @ref="DataGrid"
             RowsPerPage="@Core.Configuration.DefaultPageSize"
             RowClick="@(e => SelectCustomer(e.Item))" 
             RowStyle="@RowStyle">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Clientes</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="SearchTerm"
                      Placeholder="Filtrar por Nome, Documento e Email"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Clearable="true"
                      OnClearButtonClick="@(() => @SearchTerm = "" )"
                      Immediate="true"
                      IconSize="Size.Medium"
                      Class="mt-0">
        </MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Name" Title="Nome" />
        <PropertyColumn Property="x => x.DocumentNumber" Title="Documento" />
        <PropertyColumn Property="x => x.Email" Title="E-mail" />
        <TemplateColumn Title="Tipo">
            <CellTemplate>
                @if (context.Item.CustomerType == ECustomerType.Individual)
                {
                    <span>Pessoa Física</span>
                }
                else
                {
                    <span>Pessoa Jurídica</span>
                }
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Class="justify-end" Title="Ações">
            <CellTemplate>
                <MudStack Row>
                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                   Href="@($"/clientes/editar/{context.Item.Id}")"
                                   Color="Color.Primary">
                    </MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   Color="Color.Error"
                                   aria-label="Excluir"
                                   OnClick="() => OnDeleteButtonClickedAsync
                                                    (context.Item.Id, context.Item.Name)">
                    </MudIconButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Customer" />
    </PagerContent>
</MudDataGrid>