@using RealtyHub.Core.Models
@inherits PropertyFormComponent

<PageTitle>@Operation Imóvel</PageTitle>

<MudText Typo="Typo.h4">@Operation Imóvel</MudText>

@if (IsBusy)
{
    <SkeletonWave />
}
else
{
    <MudPaper Class="pa-8 mt-4 d-flex justify-center align-center" Elevation="2">
        <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
            <ObjectGraphDataAnnotationsValidator />

            <MudText Class="mb-6" Typo="Typo.h6">Dados do Imóvel</MudText>

            <MudGrid Class="mb-4">
                <MudItem lg="2" xs="12" sm="6">
                    <EnumSelect TEnum="ETipoImovel"
                                Label="Tipo do Imóvel"
                                @bind-SelectedValue="InputModel.TipoImovel">
                    </EnumSelect>
                </MudItem>

                <MudItem xs="3" sm="2">
                    <MudCheckBox @bind-Value="InputModel.Novo"
                                 For="@(() => InputModel.Novo)"
                                 Label="Imóvel Novo">
                    </MudCheckBox>
                </MudItem>

                <MudItem xs="6" sm="3">
                    <MudCheckBox @bind-Value="InputModel.ExibirNaHome"
                                 For="@(() => InputModel.ExibirNaHome)"
                                 Label="Exibir na página principal">
                    </MudCheckBox>
                </MudItem>
            </MudGrid>

            <MudGrid Class="mb-4">
                <MudItem lg="4" xs="12" sm="6">
                    <MudTextField Label="Título"
                                  @bind-Value="InputModel.Titulo"
                                  For="@(() => InputModel.Titulo)"
                                  InputType="InputType.Text" />
                </MudItem>

                <MudItem lg="8" xs="12" sm="6">
                    <MudTextField Label="Descrição"
                                  @bind-Value="InputModel.Descricao"
                                  For="@(() => InputModel.Descricao)"
                                  AutoGrow="true"
                                  InputType="InputType.Text"
                                  MaxLength="255" />
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem lg="3" xs="12" sm="6">
                    <MudTextField Label="Preço"
                                  T="decimal"
                                  Variant="Variant.Text"
                                  Format="C"
                                  @bind-Value="InputModel.Preco"
                                  For="@(() => InputModel.Preco)" />
                </MudItem>

                <MudItem lg="8" xs="12" sm="6">
                    <MudTextField Label="Detalhes da transação"
                                  @bind-Value="InputModel.DetalhesTransacao"
                                  For="@(() => InputModel.DetalhesTransacao)"
                                  AutoGrow="true"
                                  MaxLength="255"
                                  InputType="InputType.Text" />
                </MudItem>
            </MudGrid>

            <MudGrid Class="mt-1">
                <MudItem lg="1" xs="12" sm="6">
                    <MudNumericField Label="Quartos"
                                     @bind-Value="InputModel.Quarto"
                                     For="@(() => InputModel.Quarto)"
                                     InputMode="InputMode.numeric"
                                     Max="999"
                                     Min="0" />
                </MudItem>

                <MudItem lg="1" xs="12" sm="6">
                    <MudNumericField Label="Banheiros"
                                     @bind-Value="InputModel.Banheiro"
                                     For="@(() => InputModel.Banheiro)"
                                     InputMode="InputMode.numeric"
                                     Max="999"
                                     Min="0" />
                </MudItem>

                <MudItem lg="1" xs="12" sm="6">
                    <MudNumericField Label="Garagens"
                                     @bind-Value="InputModel.Garagem"
                                     For="@(() => InputModel.Garagem)"
                                     InputMode="InputMode.numeric"
                                     Max="999"
                                     Min="0" />
                </MudItem>

                <MudItem lg="2" xs="12" sm="6">
                    <MudNumericField Label="Área(m²)"
                                     T="double"
                                     @bind-Value="InputModel.Area"
                                     For="@(() => InputModel.Area)"
                                     InputMode="InputMode.numeric"
                                     Max="9999999"
                                     Min="1" />
                </MudItem>

                <MudItem lg="3" xs="12" sm="6">
                    <MudTextField Label="Matrícula no Cartório"
                                  T="string"
                                  @bind-Value="InputModel.NumeroRegistro"
                                  For="@(() => InputModel.NumeroRegistro)"
                                  HelperText="Número de registro do imóvel"
                                  InputType="InputType.Text" />
                </MudItem>

                <MudItem lg="3" xs="12" sm="6">
                    <MudTextField Label="Registro do Cartório"
                                  T="string"
                                  @bind-Value="InputModel.RegistroCartorio"
                                  For="@(() => InputModel.RegistroCartorio)"
                                  HelperText="Número de registro do cartório"
                                  InputType="InputType.Text" />
                </MudItem>
            </MudGrid>

            <MudText Class="mb-4 mt-4" Typo="Typo.h6">Proprietário/Vendedor</MudText>
            <MudGrid>
                <MudItem lg="8" xs="12" sm="6">
                    <MudTextField Class="mb-2"
                                  ReadOnly="true"
                                  Label="@(InputModel.Vendedor == null ? "Clique aqui para pesquisar o cliente" : "Cliente selecionado")"
                                  AdornmentIcon="@Icons.Material.Filled.PersonSearch"
                                  @onclick="@OpenSellerDialog"
                                  OnAdornmentClick="OpenSellerDialog"
                                  Adornment="Adornment.End"
                                  Value="@InputModel.Vendedor?.Nome" />
                </MudItem>
            </MudGrid>

            <MudText Class="mb-4 mt-4" Typo="Typo.h6">Condomínio</MudText>
            <MudGrid>
                <MudItem lg="8" md="10" xs="12">
                    <MudTextField Class="mb-2"
                                  ReadOnly="true"
                                  Label="@(InputModel.Condominio == null ? "Clique aqui para pesquisar o condomínio" : "Condomínio selecionado")"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  @onclick="OpenCondominiumDialog"
                                  OnAdornmentClick="OpenCondominiumDialog"
                                  Adornment="Adornment.End"
                                  Value="InputModel.Condominio?.Nome"/>
                </MudItem>
            </MudGrid>

            <AddressInput @bind-InputModel="InputModel.Endereco" />

            <MudText Class="mb-4 mt-4" Typo="Typo.h6">Fotos do imóvel</MudText>

            <MudGrid Class="mt-2 mb-4" Spacing="2" @key="@DataGridBtnPhotosKey">
                <MudItem lg="8" xs="12" sm="10">
                    <MudStack Row="true" Spacing="2">
                        <MudFileUpload T="IReadOnlyList<IBrowserFile>" FilesChanged="OnFilesChange">
                            <ActivatorContent>
                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           StartIcon="@Icons.Material.Filled.AddAPhoto"
                                           Style="white-space: nowrap;">
                                    Selecionar fotos
                                </MudButton>
                            </ActivatorContent>
                        </MudFileUpload>
                        @if (AllPhotos.Count > 0)
                        {
                            <MudButton Color="Color.Error"
                                       Variant="Variant.Filled"
                                       Style="white-space: nowrap;"
                                       StartIcon="@Icons.Material.Filled.DeleteForever"
                                       OnClick="RemoveAllPhotos">
                                Excluir todas as fotos
                            </MudButton>
                            <MudButton Color="Color.Error"
                                       Variant="Variant.Filled"
                                       Style="white-space: nowrap;"
                                       StartIcon="@Icons.Material.Filled.Delete"
                                       OnClick="RemovePhoto">
                                Excluir a foto selecionada
                            </MudButton>
                        }
                    </MudStack>
                </MudItem>
            </MudGrid>

            @if (AllPhotos.Count > 0)
            {
                <MudGrid Class="d-flex justify-center align-center mb-8" Style="height: 40vh;">
                    <MudItem xs="12" sm="10" md="8" lg="6" xl="4">
                        <MudCarousel ItemsSource="@AllPhotos"
                                     ShowArrows="true"
                                     ShowBullets="true"
                                     AutoCycle="false"
                                     Class="mud-width-full align-center"
                                     Style="width: 100%; height: 105vh;"
                                     TData="PhotoItem"
                                     @bind-SelectedIndex="SelectedIndex"
                                     @key="@CarouselKey">

                            <ItemTemplate Context="photoItem">
                                <div class="d-flex flex-column align-items-center mt-4">
                                    <MudItem md="9" xs="6" sm="3">
                                        <MudButton ButtonType="ButtonType.Button"
                                                   Color="Color.Primary"
                                                   Variant="Variant.Filled"
                                                   StartIcon="@Icons.Material.Filled.Image"
                                                   Disabled="@photoItem.IsThumbnail"
                                                   OnClick="@(() => UpdateThumbnailsAsync(photoItem))">
                                            @(photoItem.IsThumbnail ? "Foto já definida como principal" : "Definir como foto principal")
                                        </MudButton>
                                    </MudItem>
                                    <MudText Typo="Typo.caption" Class="mt-2">
                                        A foto ficará em exibição na página principal
                                    </MudText>
                                    <MudImage Src="@photoItem.DisplayUrl"
                                              @onclick="@(() => OpenImageDialog(photoItem.DisplayUrl))"
                                              Class="cursor-pointer"
                                              Style="width: 80%; height: 60%; align-self: center"
                                              Fluid="true"
                                              ObjectFit="ObjectFit.Cover" />
                                </div>
                            </ItemTemplate>
                        </MudCarousel>
                    </MudItem>
                </MudGrid>
            }

            <MudButton ButtonType="ButtonType.Submit"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       Class="mt-10"
                       StartIcon="@Icons.Material.Filled.Save">
                Salvar
            </MudButton>
            <MudText Class="mb-10" />
        </EditForm>
    </MudPaper>
}