@using RealtyHub.Core.Extensions
@inherits CustomerFormComponent

<PageTitle>@Operation Cliente</PageTitle>

<MudText Typo="Typo.h4">@Operation Cliente</MudText>

@if (IsBusy)
{
    <SkeletonWave />
}
else
{
    <MudPaper Class="pa-8 mt-4" Elevation="2">
        <EditForm OnValidSubmit="OnValidSubmitAsync" EditContext="@EditContext">
            <ObjectGraphDataAnnotationsValidator />

            <MudText Class="mb-6" Typo="Typo.h6">Dados Pessoais</MudText>

            <MudGrid>
                <MudItem>
                    <MudRadioGroup Class="flex-center"
                                   T="ECustomerType"
                                   Value="InputModel.CustomerType"
                                   ValueChanged="OnCustomerTypeChanged">
                        <div style="display: flex;">
                            <div class="flex-center">
                                <MudIcon Icon="@Icons.Material.Filled.Person"></MudIcon>
                                <MudRadio Value="ECustomerType.Individual">
                                    @(ECustomerType.Individual.GetDisplayName())
                                </MudRadio>
                            </div>
                            <div class="flex-center">
                                <MudIcon Icon="@Icons.Material.Filled.Business"></MudIcon>
                                <MudRadio Value="ECustomerType.Business">
                                    @(ECustomerType.Business.GetDisplayName())
                                </MudRadio>
                            </div>
                        </div>
                    </MudRadioGroup>
                </MudItem>
            </MudGrid>

            <MudGrid Class="mt-2">
                <MudItem lg="2" xs="12" sm="6">
                    <MudTextField T="string"
                                  Label="@DocumentType"
                                  @bind-Value="InputModel.DocumentNumber"
                                  For="@(() => InputModel.DocumentNumber)"
                                  Mask="DocumentCustomerMask"
                                  OnBlur="OnBlurDocumentTextField"
                                  ErrorText="@ErrorText"
                                  Error="Error"
                                  Immediate="true"
                                  @key="DocumentCustomerMask"
                                  InputType="InputType.Text" />
                </MudItem>

                <MudItem lg="4" xs="12" sm="6">
                    <MudTextField T="string"
                                  Label="@(InputModel.CustomerType ==
                                           ECustomerType.Individual ? "Nome" : "Razão Social")"
                                  @bind-Value="InputModel.Name"
                                  For="@(() => InputModel.Name)"
                                  InputType="InputType.Text" />
                </MudItem>

                <MudItem lg="3" xs="12" sm="6">
                    @if (InputModel.CustomerType == ECustomerType.Individual)
                    {
                        <MudTextField T="string"
                                      Label="Rg"
                                      @bind-Value="InputModel.Rg"
                                      For="@(() => InputModel.Rg)"
                                      MaxLength="20"
                                      InputType="InputType.Text" />
                    }
                    else
                    {
                        <MudTextField T="string"
                                      Label="Nome Fantasia"
                                      @bind-Value="InputModel.BusinessName"
                                      For="@(() => InputModel.BusinessName)"
                                      InputType="InputType.Text" />
                    }
                </MudItem>

                <MudItem lg="3" xs="12" sm="6">
                    <MudTextField T="string"
                                  Label="Telefone"
                                  @bind-Value="InputModel.Phone"
                                  For="@(() => InputModel.Phone)"
                                  Mask="@Utility.Masks.Phone"
                                  InputType="InputType.Text" />
                </MudItem>

                <MudItem lg="4" xs="12" sm="6">
                    <MudTextField T="string"
                                  Label="E-mail"
                                  @bind-Value="InputModel.Email"
                                  For="@(() => InputModel.Email)"
                                  InputType="InputType.Email" />
                </MudItem>
            </MudGrid>

            <AddressInput @bind-InputModel="InputModel.Address" />

            <MudButton ButtonType="ButtonType.Submit"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       Class="mt-6"
                       StartIcon="@Icons.Material.Filled.Save">
                Salvar
            </MudButton>
        </EditForm>
    </MudPaper>
}