@inherits ViewingFormComponent

<PageTitle>@Operation Visita</PageTitle>

<MudText Typo="Typo.h4">@Operation Visita</MudText>

@if (IsBusy)
{
    <MudPaper Class="pa-8 mt-4">
        <MudSkeleton Animation="Animation.Wave" Height="55px" />
        <MudSkeleton Animation="Animation.Wave" Height="110px" />
        <MudSkeleton Animation="Animation.Wave" Height="55px" />
        <MudSkeleton Animation="Animation.Wave" Height="110px" />
        <MudSkeleton Animation="Animation.Wave" Height="55px" />
    </MudPaper>
}
else
{
    <MudPaper Class="pa-8 mt-4" Elevation="2">
        <EditForm OnValidSubmit="OnValidSubmitAsync" Model="InputModel">
            <ObjectGraphDataAnnotationsValidator />

            <MudDatePicker Label="Data da Visita"
                           @bind-Date="@InputModel.ViewingDate" />

            <MudTimePicker Label="Hora da Visita"
                           @bind-Time="@ViewingTime" />

            @if (Id != 0)
            {
                <EnumSelect TEnum="EViewingStatus"
                            Label="Status da Visita"
                            @bind-SelectedValue="InputModel.ViewingStatus" />
            }

            <MudButton Class="mt-4"
                       OnClick="OpenCustomerDialog"
                       ButtonType="ButtonType.Button"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.Person">
                Pesquisar Cliente
            </MudButton>
            
            <MudButton Class="mt-4"
                       OnClick="OpenPropertyDialog"
                       ButtonType="ButtonType.Button"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.Home">
                Pesquisar Imóvel
            </MudButton>

            <div>
                <MudButton ButtonType="ButtonType.Submit"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           Class="mt-6"
                           StartIcon="@Icons.Material.Filled.Save">
                    @Operation
                </MudButton>
                @if (Id != 0)
                {
                    <MudButton Variant="Variant.Filled"
                               ButtonType="ButtonType.Button"
                               Color="Color.Primary"
                               Class="mt-6 ml-2"
                               StartIcon="@Icons.Material.Filled.Check"
                               OnClick="OnClickDoneViewing">
                        Finalizar Visita
                    </MudButton>
                    <MudButton Variant="Variant.Filled"
                               ButtonType="ButtonType.Button"
                               Color="Color.Error"
                               Class="mt-6 ml-2"
                               StartIcon="@Icons.Material.Filled.Cancel"
                               OnClick="OnClickCancelViewing">
                        Cancelar Visita
                    </MudButton>
                }
            </div>
        </EditForm>
    </MudPaper>
}