@inherits ViewingFormComponent

<PageTitle>@Operation Visita</PageTitle>

<MudText Typo="Typo.h4">@Operation Visita</MudText>

@if (IsBusy)
{
    <SkeletonWave />
}
else
{
    <MudPaper Class="pa-8 mt-4" Elevation="2">
        <EditForm OnValidSubmit="OnValidSubmitAsync" Model="InputModel" @key="EditFormKey">
            <ObjectGraphDataAnnotationsValidator />

            <MudDatePicker Class="mb-2"
                           Label="Data da Visita"
                           @bind-Date="@InputModel.ViewingDate" />

            <MudTimePicker Class="mb-2"
                           Label="Hora da Visita"
                           @bind-Time="@ViewingTime" />

            <MudTextField Class="mb-2"
                          ReadOnly="true"
                          Label="@(InputModel.Customer == null ? "Clique aqui para pesquisar o cliente" : "Cliente Selecionado")"
                          AdornmentIcon="@Icons.Material.Filled.PersonSearch"
                          @onclick="@OpenCustomerDialog"
                          OnAdornmentClick="OpenCustomerDialog"
                          Adornment="Adornment.End"
                          Value="@InputModel.Customer?.Name" />

            <MudTextField Class="mb-2"
                          ReadOnly="true"
                          Label="@(InputModel.Property == null ? "Clique aqui para pesquisar o imóvel" : "Imóvel Selecionado")"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          @onclick="@OpenPropertyDialog"
                          OnAdornmentClick="OpenPropertyDialog"
                          Adornment="Adornment.End"
                          Value="@InputModel.Property?.Title" />

            <div>
                <MudButton ButtonType="ButtonType.Submit"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           Class="mt-6"
                           StartIcon="@Icons.Material.Filled.Save">
                    @Operation
                </MudButton>
                @if (Id != 0)
                {
                    <MudButton Variant="Variant.Filled"
                               ButtonType="ButtonType.Button"
                               Color="Color.Primary"
                               Class="mt-6 ml-2"
                               StartIcon="@Icons.Material.Filled.Check"
                               OnClick="OnClickDoneViewing">
                        Finalizar Visita
                    </MudButton>
                    <MudButton Variant="Variant.Filled"
                               ButtonType="ButtonType.Button"
                               Color="Color.Error"
                               Class="mt-6 ml-2"
                               StartIcon="@Icons.Material.Filled.Cancel"
                               OnClick="OnClickCancelViewing">
                        Cancelar Visita
                    </MudButton>
                }
            </div>
        </EditForm>
    </MudPaper>
}