@page "/propostas"
@using RealtyHub.Core.Models
@inherits ListOffersPage

<MudText Typo="Typo.h3">Propostas</MudText>

<PageTitle>Propostas</PageTitle>

<div class="d-flex justify-end">
    <MudButton Class="ml-4"
               Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Material.Filled.FileOpen"
               OnClick="OnReportClickedAsync">
        Gerar Relatório
    </MudButton>
</div>

<MudDataGrid T="Offer"
             Class="mt-4"
             ServerData="LoadServerData"
             @ref="DataGrid"
             RowsPerPage="@Core.Configuration.DefaultPageSize"
             RowClick="@(e => SelectOffer(e.Item))"
             RowStyle="@RowStyle">

    <ToolBarContent>
        <MudText Typo="Typo.h6">Propostas</MudText>
        <MudSpacer />
        <MudDateRangePicker PickerVariant="PickerVariant.Dialog"
                            Label="Escolha a data da proposta"
                            DateRange="DateRange"
                            DateRangeChanged="OnDateRangeChanged"
                            Clearable="true" />
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="v => v.Id" Title="Id"></PropertyColumn>
        <PropertyColumn Property="v => v.SubmissionDate" Title="Data"></PropertyColumn>
        <PropertyColumn Property="v => v.Buyer!.Name" Title="Comprador"></PropertyColumn>
        <PropertyColumn Property="v => v.Property!.Seller!.Name" Title="Vendedor"></PropertyColumn>
        <PropertyColumn Property="v => v.Property!.Title" Title="Imóvel"></PropertyColumn>
        <TemplateColumn Title="Valor">
            <CellTemplate>
                @context.Item.Amount.ToString("C")
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="Status">
            <CellTemplate>
                <OfferStatus Status="@context.Item.OfferStatus" />
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Class="justify-end" Title="Ações">
            <CellTemplate>
                <MudTooltip Text="Visualizar">
                    <MudIconButton Icon="@Icons.Material.Filled.Visibility"
                                   Color="Color.Primary"
                                   OnClick="() => OpenOfferDialog(context.Item)" />
                </MudTooltip>
                <MudTooltip Text="Aceitar">
                    <MudIconButton Icon="@Icons.Material.Filled.Done"
                                   Color="Color.Success"
                                   OnClick="() => OnAcceptClickedAsync(context.Item)"
                                   Disabled="@(context.Item.OfferStatus != EOfferStatus.Analysis)"/>
                </MudTooltip>
                <MudTooltip Text="Rejeitar">
                    <MudIconButton Icon="@Icons.Material.Filled.Cancel"
                                   Color="Color.Error"
                                   OnClick="() => OnRejectClickedAsync(context.Item)"
                                   Disabled="@(context.Item.OfferStatus != EOfferStatus.Analysis)"/>
                </MudTooltip>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Offer" />
    </PagerContent>
</MudDataGrid>

<style>
    .detalhes-cell {
        white-space: normal;
        word-wrap: break-word;
        max-width: 200px;
    }
</style>