@page "/comecar"
@layout HeadlessLayout
@inherits RegisterPage

<PageTitle>RealtyHub - Registrar</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">
            <Logo Width="200" />

            <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator />
                
                <MudText Class="flex-center justify-center mb-4"
                         Typo="Typo.h6">
                    Crie sua conta para usar nossos serviços!
                </MudText>

                <MudTextField T="string"
                              Label="Nome"
                              InputType="InputType.Text"
                              For="@(() => InputModel.GivenName)"
                              @bind-Value="@InputModel.GivenName"
                              Class="mb-4"
                              AdornmentIcon="@Icons.Material.Filled.Person"
                              Adornment="Adornment.Start" />

                <MudTextField T="string"
                              Label="Creci"
                              InputType="InputType.Text"
                              For="@(() => InputModel.Creci)"
                              @bind-Value="@InputModel.Creci"
                              Class="mb-4"
                              AdornmentIcon="@Icons.Material.Filled.AppRegistration"
                              Adornment="Adornment.Start" />

                <MudTextField T="string"
                              Label="E-mail"
                              InputType="InputType.Email"
                              For="@(() => InputModel.Email)"
                              @bind-Value="@InputModel.Email"
                              Class="mb-4"
                              AdornmentIcon="@Icons.Material.Filled.Email"
                              Adornment="Adornment.Start" />

                <MudTextField T="string"
                              Label="Senha"
                              InputType="InputType.Password"
                              For="@(() => InputModel.Password)"
                              @bind-Value="@InputModel.Password"
                              Class="mb-4"
                              AdornmentIcon="@Icons.Material.Filled.Password"
                              Adornment="Adornment.Start" />

                <MudTextField T="string"
                              Label="Confirmar Senha"
                              InputType="InputType.Password"
                              For="@(() => InputModel.ConfirmPassword)"
                              @bind-Value="@InputModel.ConfirmPassword"
                              OnBlur="IsPasswordEqual"
                              Error="Error"
                              ErrorText="@ErrorText"
                              Class="mb-4" 
                              AdornmentIcon="@Icons.Material.Filled.Password"
                              Adornment="Adornment.Start" />

                <div class="d-flex mt-8">
                    @if (IsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Indeterminate="true" />
                    }
                    else
                    {
                        <MudButton ButtonType="ButtonType.Submit"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Start">
                            Começar
                        </MudButton>
                        <MudSpacer />
                        <MudButton Href="/login"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary" 
                                   StartIcon="@Icons.Material.Filled.Login">
                            Já tenho uma conta
                        </MudButton>
                    }

                </div>
            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>