@page "/recuperar-senha"
@layout NotAuthenticateLayout
@inherits ResetPasswordPage

<PageTitle>RealtyHub - Esqueci Senha</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">
            <div class="d-flex justify-center pb-8 pt-8">
                <img src="Img/logo-branco.png"
                     alt="RealtyHub - Portal Imobiliário"
                     width="200" />
            </div>
            <EditForm Model="ForgotPasswordModel" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator />

                <MudTextField T="string"
                              Label="E-mail"
                              InputType="InputType.Email"
                              Placeholder="Digite seu e-mail"
                              For="@(() => ForgotPasswordModel.Email)"
                              @bind-Value="@ForgotPasswordModel.Email"
                              Class="mb-4"
                              AdornmentIcon="@Icons.Material.Filled.Email"
                              Adornment="Adornment.Start"
                              UserAttributes="@(new() { { "autocomplete", "true" }, { "aria-required", "true" } })" />

                <MudButton ButtonType="ButtonType.Submit"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.Send">
                    Enviar email de recuperação
                </MudButton>
            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>