@page "/recuperar-senha"
@layout NotAuthenticateLayout
@inherits ResetPasswordPage

<PageTitle>RealtyHub - Esqueci Senha</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">
            <div class="d-flex justify-center pb-8 pt-8">
                <img src="Img/logo-branco.png"
                     alt="RealtyHub - Portal Imobiliário"
                     width="200" />
            </div>
             @if (UserId == 0 && string.IsNullOrEmpty(Token))
            {
                <EditForm Model="ForgotPasswordModel" OnValidSubmit="OnValidSubmitForgotFormAsync">
                    <DataAnnotationsValidator />
                    
                    <MudText Class="mb-4">Enviaremos um email com um link de recuperação</MudText>

                    <MudTextField T="string"
                                  Label="E-mail"
                                  InputType="InputType.Email"
                                  Placeholder="Digite seu e-mail"
                                  For="@(() => ForgotPasswordModel.Email)"
                                  @bind-Value="@ForgotPasswordModel.Email"
                                  Class="mb-4"
                                  AdornmentIcon="@Icons.Material.Filled.Email"
                                  Adornment="Adornment.Start"
                                  UserAttributes="@(new() { { "autocomplete", "true" }, { "aria-required", "true" } })" />

                    <div class="d-flex mt-8">
                        @if (IsBusy)
                        {
                            <MudProgressCircular Color="Color.Info" Indeterminate="true" />
                        }
                        else
                        {
                            <MudButton ButtonType="ButtonType.Submit"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       StartIcon="@Icons.Material.Filled.Send">
                                Enviar email de recuperação
                            </MudButton>
                        }
                    </div>
                </EditForm>
            }
            else
            {
                <EditForm Model="ResetPasswordModel" OnValidSubmit="OnValidSubmitResetFormAsync">
                    <ObjectGraphDataAnnotationsValidator/>
                    
                    <ConfirmPasswordComponent @bind-InputModel="ResetPasswordModel.PasswordResetModel"/>
                 
                    <div class="d-flex mt-8">
                        @if (IsBusy)
                        {
                            <MudProgressCircular Color="Color.Info" Indeterminate="true" />
                        }
                        else
                        {
                            <MudButton ButtonType="ButtonType.Submit"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       StartIcon="@Icons.Material.Filled.Send">
                                Resetar senha
                            </MudButton>
                        }
                    </div>
                </EditForm>
            }
        </MudPaper>
    </MudItem>
</MudGrid>