@using RealtyHub.Core.Models
@inherits PropertyFormComponent

<PageTitle>@Operation Imóvel</PageTitle>

<MudText Typo="Typo.h4">@Operation Imóvel</MudText>

@if (IsBusy)
{
    <MudPaper Class="pa-8 mt-4">
        <MudSkeleton Height="55px" />
        <MudSkeleton Height="110px" />
        <MudSkeleton Height="55px" />
        <MudSkeleton Height="110px" />
        <MudSkeleton Height="55px" />
    </MudPaper>
}
else
{
    <MudPaper Class="pa-8 mt-4 d-flex justify-center align-center" Elevation="2">
        <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
            <ObjectGraphDataAnnotationsValidator />

            <MudText Class="mb-6" Typo="Typo.h6">Dados do Imóvel</MudText>

            <MudGrid Class="mb-4">
                <MudItem lg="2" xs="12" sm="6">
                    <EnumSelect TEnum="EPropertyType"
                                Label="Tipo do Imóvel"
                                @bind-SelectedValue="InputModel.PropertyType">
                    </EnumSelect>
                </MudItem>

                <MudItem lg="4" xs="12" sm="6">
                    <MudCheckBox @bind-Value="InputModel.IsNew"
                                 For="@(() => InputModel.IsNew)"
                                 Label="Imóvel Novo">
                    </MudCheckBox>
                </MudItem>
            </MudGrid>

            <MudGrid Class="mb-4">
                <MudItem lg="4" xs="12" sm="6">
                    <MudTextField Label="Título"
                                  @bind-Value="InputModel.Title"
                                  For="@(() => InputModel.Title)"
                                  InputType="InputType.Text" />
                </MudItem>

                <MudItem lg="8" xs="12" sm="6">
                    <MudTextField Label="Descrição"
                                  @bind-Value="InputModel.Description"
                                  For="@(() => InputModel.Description)"
                                  InputType="InputType.Text"
                                  MaxLength="255" />
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem lg="3" xs="12" sm="6">
                    <MudTextField Label="Preço"
                                  T="decimal"
                                  Variant="Variant.Text"
                                  Format="C"
                                  @bind-Value="InputModel.Price"
                                  For="@(() => InputModel.Price)" />
                </MudItem>

                <MudItem lg="8" xs="12" sm="6">
                    <MudTextField Label="Detalhes da transação"
                                  @bind-Value="InputModel.TransactionsDetails"
                                  For="@(() => InputModel.TransactionsDetails)"
                                  InputType="InputType.Text" />
                </MudItem>
            </MudGrid>

            <MudGrid Class="mt-1">
                <MudItem lg="1" xs="12" sm="6">
                    <MudNumericField Label="Quartos"
                                     @bind-Value="InputModel.Bedroom"
                                     For="@(() => InputModel.Bedroom)"
                                     InputMode="InputMode.numeric"
                                     Max="999"
                                     Min="0" />
                </MudItem>

                <MudItem lg="1" xs="12" sm="6">
                    <MudNumericField Label="Banheiros"
                                     @bind-Value="InputModel.Bathroom"
                                     For="@(() => InputModel.Bathroom)"
                                     InputMode="InputMode.numeric"
                                     Max="999"
                                     Min="0" />
                </MudItem>

                <MudItem lg="1" xs="12" sm="6">
                    <MudNumericField Label="Garagens"
                                     @bind-Value="InputModel.Garage"
                                     For="@(() => InputModel.Garage)"
                                     InputMode="InputMode.numeric"
                                     Max="999"
                                     Min="0" />
                </MudItem>

                <MudItem lg="2" xs="12" sm="6">
                    <MudNumericField Label="Área(m²)"
                                     T="double"
                                     @bind-Value="InputModel.Area"
                                     For="@(() => InputModel.Area)"
                                     InputMode="InputMode.numeric"
                                     Max="9999999"
                                     Min="1" />
                </MudItem>
            </MudGrid>

            <AddressComponent @bind-InputModel="InputModel.Address" />

            <MudText Class="mb-4 mt-4" Typo="Typo.h6">Fotos do imóvel</MudText>

            <MudGrid Class="mt-2 mb-4" Spacing="2">
                <MudItem lg="8" xs="12" sm="10">
                    <MudStack Row="true" Spacing="2">
                        <MudFileUpload T="IReadOnlyList<IBrowserFile>" FilesChanged="OnFilesChange">
                            <ActivatorContent>
                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           StartIcon="@Icons.Material.Filled.AddAPhoto"
                                           Style="white-space: nowrap;">
                                    Selecionar fotos
                                </MudButton>
                            </ActivatorContent>
                        </MudFileUpload>
                        @if (PropertyPhotos.Count > 0)
                        {
                            <MudButton Color="Color.Error"
                                       Variant="Variant.Filled"
                                       Style="white-space: nowrap;"
                                       StartIcon="@Icons.Material.Filled.DeleteForever"
                                       OnClick="RemoveAllPhotos">
                                Excluir todas as fotos
                            </MudButton>
                            <MudButton Color="Color.Error"
                                       Variant="Variant.Filled"
                                       Style="white-space: nowrap;"
                                       StartIcon="@Icons.Material.Filled.Delete"
                                       OnClick="RemovePhoto">
                                Excluir a foto selecionada
                            </MudButton>
                        }
                    </MudStack>
                </MudItem>
            </MudGrid>

            <MudGrid Class="d-flex justify-center align-center mb-8" Style="height: 40vh;">
                <MudItem xs="12" sm="10" md="8" lg="6" xl="4">
                    @if (PropertyPhotos.Count > 0)
                    {
                        <MudCarousel ItemsSource="@CombinedPhotos"
                                     ShowArrows="true"
                                     ShowBullets="true"
                                     AutoCycle="false"
                                     Class="cursor-pointer mud-width-full d-flex justify-center align-center"
                                     Style="width: 100%; height: 90vh; align-self: center"
                                     TData="string" 
                                     @bind-SelectedIndex="SelectedIndex">

                            <ItemTemplate Context="photoUrl">
                                <MudImage Src="@photoUrl"
                                          @onclick="@(() => OpenImageDialog(photoUrl))"
                                          Width="600"
                                          Height="600"
                                          Fluid="true"
                                          ObjectFit="ObjectFit.Cover" />
                            </ItemTemplate>
                        </MudCarousel>
                    }
                    else
                    {
                        <p>Nenhuma foto disponível para este imóvel.</p>
                    }
                </MudItem>
            </MudGrid>

            <MudButton ButtonType="ButtonType.Submit"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       Class="mt-10"
                       StartIcon="@Icons.Material.Filled.Save">
                Salvar
            </MudButton>
        </EditForm>
    </MudPaper>
}